.startContainer {
    display: grid;
    grid-template-areas:
    "header"
    "navbar";
    grid-template-rows: 200px 1fr;

}

.startContainer:first-child {
    align-items: center;
}

.startContainer > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;

}

.startMenu {
}

.startMenu > div {
    background: rgba(0, 0, 0, 0.56);
    margin: 10px;
    padding: 40px 30px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}

.startMenu > div:hover {
    background: rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 10px black;
    color: #000;
}
