.button {
    padding: 10px 30px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.18);
}

.button:hover {
    background: rgba(0, 0, 0, 0.56);
    box-shadow: 0 0 10px black;
    color: #fff;
}