

.button {
    padding: 10px 30px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #206876;
    color: #5FBDCE;
}

.button:hover {
    background: rgba(55, 182, 206, 0.7);
    box-shadow: 0 0 10px #37B6CE;
    color: #fff;
    transition: 0.5s all;
}